.chart {
  background-color: #FFF;
  border-radius: 4px;
  
  font-family: 'FWDCircularVietTT-Book';
}
#chartjs-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'FWDCircularVietTT-Book';
  font-size: 16px;

  background-color: #ffffff;
  border-radius: 4px;
}

table {
  width: 100%;
  height: 60px;

  .tooltip-title {
    height: 30px;

    font-weight: 400;

    background-color: #0A3B32;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
  }
}
