.legend {
  display: flex;
  justify-content: flex-end;
  
  padding-top: 18px;

  background-color: #FFFFFF;
  border-radius: 4px 4px 0px 0px;
  &__label {
    display: flex;
    align-items: center;


    &__rectangle {
      width: 14px;
      height: 14px;

      margin-right: 10px;

      background-color: #E87722;
    }
    &__title {
      color: #0A3B32;
    }
  }
  .label__A {
    margin-right: 93px;
  }
  .label__B {
    margin-right: 75px;
    
    .legend__label__rectangle {
      background-color: #6ECEB2;
    }
  }
  .label__C {
    margin-right: 66px;
    
    .legend__label__rectangle {
      background-color: #FED141;
    }
  }
}
