.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  margin-top: 77px;


  &__title {
    font-family: 'FWDCircularVietTT-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #E87722;
  }
  &__description {
    display: flex;
    justify-content: center;

    width: 100%;

    margin-top: 18px;

    font-family: 'FWDCircularVietTT-Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #0A3B32;
    p {
      width: 820px;
    }

  }
}
    
.more {
  display: none;
}

@media only screen and (max-width: 740px) {
  .more {
    display: inline;
    cursor: pointer;
    color: #E87722;
  }
}