
.s__body{
  .body {
    margin-top: 30px;
    padding: 40px 40px 35px 40px;
    text-align: center;
    background-color: #DBDFE1;
  
    border-radius: 4px;
  }
  .footer {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    .btn {
      margin-left: 10px;
    }
    & :first-child, :nth-child(2) {
      background-color: #E87722;
      color: #FFFFFF;
      border: none;
    }
  }
}

@media only screen and (max-width: 740px) {
  .s__body{
    .body {
      margin: 0px;
      padding: 0px 20px;
      background-color: white;

    }
    .footer {
      .btn {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 990px){
  .s__body{
    .footer {
      .btn {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .s__body {
    .body {
      margin: 0px;
      padding: 0px 20px;
      background-color: white;

    }
  }
}