.background {
  width: 100%;
  height: 100%;

  margin-bottom: 20px;

  display: flex;
  align-items: center;

  background-color: #FFFFFF;
  border-radius: 4px;
  .search {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-top: 12px;
    padding-bottom: 12px;

    position: relative;
    
    &__input-item {
      height: 44px;
      margin-left: 24px;
    }
    &__input-option {
      width: 236px;

      select {
        height: 44px;
        color: #E87722;

        appearance: none;
        background-image: url(../../../assets/images/Shape.svg);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;

        option {
          margin-left: 10px;
        }

      }
    }
    &__input-date {
      width: 275px;

      #date {
        height: 44px;
        color: #E87722;
        
        background-image: url(../../../assets/images/Vector.svg);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
      }
      input[type="date"]::-webkit-inner-spin-button,
      input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;

      }
    }
    &__btn-search {
      width: 139px;

      font-family: 'FWDCircularVietTT-Bold';
      font-weight: 400;
  
      color: #FFFFFF;
      background-color: #E87722;
      border: 0px;

      &:hover {
        text-decoration: none;

        color: #E87722;
        background-color: #FFFFFF;
        border: 1px solid #E87722;
      }
    }
    &__icon {
      font-size: 28px;

      display: flex;
      align-items: center;

      position: absolute;
      right: 20px;

      #Group_1{
        margin-right: 24px;

        color: #E87722;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
.background {
  margin-bottom: 0px;
    .search {
      flex-direction: column;

      &__input-item {
        margin-bottom: 14px;
        margin-left: 0px;
        
      }
      &__input-option {
        width: 100%;
        select {
          height: 44px;
          background-position-x: 95%;
        }
      }
      &__input-date {
        width: 100%;
        #date {
          height: 44px;
        }
      }
      &__btn-search {
        width: 100%;
        margin-right: 0px;
      }
      &__icon {
        position: static;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .search{
    &__icon {
      display: none;
      #Group_1{
        display: none;
      }
      #Group_2{
        display: none;
      }
    }
    &__btn-search {
      margin-right: 24px;
    }
  }
}

// @media only screen and (min-width: 740px) and (max-width: 767px) {
//   .background {
//     margin-bottom: 0px;
//       .search {
//         flex-direction: column;
  
//         &__input-item {
//           margin-bottom: 14px;
//           margin-left: 0px;
          
//         }
//         &__input-option {
//           width: 100%;
//           #select {
//             height: 44px;
//           }
//         }
//         &__input-date {
//           width: 100%;
//           #date {
//             height: 44px;
//           }
//         }
//         &__btn-search {
//           width: 100%;
//           margin-right: 0px;
//         }
//         &__icon {
//           position: static;
//         }
//       }
//     }
// }
