.background {
  width: 100%;
  height: 100%;

  margin-bottom: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #FFFFFF;
  border-radius: 4px;

  
  .close1 {
    height: 500px;
    width: 500px;

    position: absolute;

    background-color:rgba($color: #FFFFFF, $alpha: 0);
  }

  .date-picker {
    width: 484.12px;
    height: 310px;
    position: absolute;
    left:27%;
    display: flex;

    border-radius: 4px;
    background-color: #DBDFE1;

    .react-datepicker {
      height: 271.75px;
    }
    .end {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      position: relative;

      .btn-ok {
        height: 30px;
        width: 60px;
  
        position: absolute;
        right:10px;
        bottom: 5px;
  
        background-color: #E87722;
        color: #FFFFFF;
        border: 1px solid #E87722;
        border-radius: 4px;
      }
    }
   }

  .search {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-top: 12px;
    padding-bottom: 12px;

    position: relative;
    
    &__input-item {
      height: 44px;
      margin-left: 24px;
    }

    &__input-option {
      width: 236px;

      position: relative;

      cursor: pointer;

      .select {
        width: 100%;
        height: 44px;
        color: #E87722;

        list-style: none;

        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        position: absolute;


        border: 1px solid #DBDFE1;
        border-radius: 4px;

        .active {
          background-color: #E87722;
          color: #FFFFFF;
        }

        p {
          width: 100%;
          text-align: left;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;

          margin: 0px;

        }
        li {
          width: 100%;

          text-align: left;
          line-height: 24px;
          padding: 9px 20px;

          cursor: pointer;

          background-color: #FFFFFF;
          border-bottom: 1px solid #DBDFE1;
          border-right: 1px solid #DBDFE1;
          border-left: 1px solid #DBDFE1;

          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #ff6d00;
            color: #FFFFFF
          }
          &:checked {
            background-color: #ff6d00;
            color: #FFFFFF
          }
        }
      }
      .icon__dropdown {
        height: 44px;

        position: relative;

        img {
          position: absolute;
          top: 19px;
          right: 17.5px;
        }
      }
    }
    &__input-date {
      width: 275px;

      display: flex;
      align-items: center;

      position: relative;


      border: 1px solid #DBDFE1;
      border-radius: 4px;

      p {
        width: 100%;
        margin: 0;
        padding-left: 20px;
        
        position: absolute;
        left: 0;

        text-align: left;

        color: #E87722;
      }

      .icon__date {
        height: 44px;
        width: 275px;
        position: relative;

        img {
          position: absolute;
          top: 14.22px;
          right: 17.5px;
        }
      }

      .start {
        padding-left: 20px;
      }

      span {
        color: #E87722;
      }
    }
    &__btn-search {
      width: 139px;

      font-size: 14px;
      line-height: 24px;
      font-family: 'FWDCircularVietTT-Bold';
      font-weight: 700;
      letter-spacing: 0.1em;
  
      color: #FFFFFF;
      background-color: #E87722;
      border: none;
      border-radius: 4px;

      &:hover, &:active {
        text-decoration: none;

        color: #FFFFFF;
        background-color: #ff6d00;

        outline: none;
      }
    }
    &__icon {
      font-size: 28px;

      display: flex;
      align-items: center;

      position: absolute;
      right: 20px;

      #Group_1{
        margin-right: 24px;

        color: #E87722;
      }
    }
  }
}
.disable {
  display: none;
}


// Mobile
@media only screen and (max-width: 768px) {
.background {
  margin-bottom: 0px;
    .search {
      flex-direction: column;

      &__input-item {
        margin-bottom: 14px;
        margin-left: 0px;
        
      }
      &__input-option {
        width: 100%;
        select {
          height: 44px;
          background-position-x: 95%;
        }
      }
      &__input-date {
        width: 100%;
        
        .icon__date {
          width: 100%;
          img {
            right: 17.5px;
          }
        }
      }
      &__btn-search {
        width: 100%;
        margin-right: 0px;
      }
      &__icon {
        position: static;
      }
    }
    .date-picker {
      left: 18%;
      top: 37%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .background {
    .search{
      &__icon {
        display: none;
        #Group_1{
          display: none;
        }
        #Group_2{
          display: none;
        }
      }
      &__btn-search {
        margin-right: 24px;
      }
      &__input-date {
        #date {
          width: 200px;
          color: #DBDFE1;
        }
      }
    }
    .date-picker {
      left: 18%;
      top: 28%;
    }
  }

}