.search {
  margin-bottom: 20px;
  padding: 12px;

  background-color: #FFFFFF;
  border-radius: 4px;

  .col-sm-auto {
    padding: 0px;
    margin-left: 24px;
  }
    #select {

      width: 236px;
      height: 44px;
      color: #E87722;
    }
    #exampleDate {
      width: 275px;
      height: 44px;

      color: #E87722;
    }

    .btn-secondary {
      width: 139px;
      height: 44px;
      background-color: #E87722;
      border: 0px;
    }
    .left{
      display: flex;
      align-items: center;
      justify-content: end;

    }
    .far{
      font-size: 28px;
      font-weight: 600;
    }
    .fa-chart-bar{
      color: #E87722;
    }
}